.hero {
    text-align: center;
    margin-bottom: 15px;
}

body {
    background-color: whitesmoke;
    height: 100vh;
}

.columns {
    padding-left: 15px;
}

#city-input {
    width: 75%;
}

.result-div {
    padding: 15px;
    background-color: white;
}

.result-div h1 {
    font-size: 25px;
    font-weight: bold;
}

.result-div p {
    line-height: 2.6;
}

.history {
    background-color: white;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.forecast p {
    font-size: 10px;
}

.forecast {
    background-color: teal;
    float: left;
    padding: 15px;
    color: white;
    margin-right: 10px;
}

.is-grouped {
    padding-top: 10px;
    padding-bottom: 10px;
}